@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&family=Poppins:wght@100;200;400;600;700&display=swap');

/* font-family: 'Poppins', sans-serif; 
font-family: 'Courier Prime', monospace;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --font-poppins: 'Poppins', sans-serif;
    --font-courier: 'Courier Prime', monospace;

    --background-principal: #0f100f;
    --cor-textos-cards: #ffffff;
    --background-botoes: #000000;
}

body {
    background-color: var(--background-principal);
}

.header {
    padding: 2em 4em;
}

.container-topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-topo .logo {
    width: 50px;
}

.nav {
    width: 50%;
}

.nav__lista-desordenada {
    display: flex;
    justify-content: space-evenly;
}

.nav__lista-desordenada .nav__itens {
    list-style-type: none;
}

.nav__itens .nav__ancora {
    color: var(--cor-textos-cards);
    font-family: var(--font-courier);
    text-transform: uppercase;
    position: relative;
}

.nav__itens .nav__ancora::after {
    content: '';
    position: absolute;
    background: red;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: .3s;
}

.nav__itens .nav__ancora:hover::after {
    width: 100%;
}

.container-principal {
    display: flex;
    align-items: center;
}