@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&family=Poppins:wght@100;200;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}

:root {
    --font-poppins: 'Poppins', sans-serif;
    --font-courier: 'Courier Prime', monospace;

    --background-pagina: #0f100f;
    --branco: #ffffff;
    --preto: #000000;
    --hover: #AB0000;
}

body {
    background-color: var(--background-pagina);
}

.header {
    padding: 2em 5em;
}

.header .header__modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.608);
}

.header .container-topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-topo .logo {
    width: 3.5rem;
}

.container-topo .abrir-menu {
   display: none;
}

.container-topo .nav {
    width: 40rem;
}

.nav .fechar-menu {
    display: none;
}

.nav .nav__lista {
    display: flex;
    justify-content: space-evenly;
}

.nav__lista .item {
    list-style-type: none;
}

.nav__lista .item:nth-child(2) {
    border-right: 1px solid var(--hover);
    border-left: 1px solid var(--hover);
    padding: 0 20px;
}

.nav__lista .item:nth-child(3) {
    border-right: 1px solid var(--hover);
    padding-right: 20px;
}

.nav__lista .item .botao {
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid var(--hover);
}

.nav__lista .item .botao:hover {
    background-color: var(--hover);
    color: var(--branco);
}

.item .nav__ancora {
    color: var(--branco);
    font-family: var(--font-courier);
    font-weight: 800;
    text-transform: uppercase;
    position: relative;
    padding: 5px;
    transition: .8s;
}

.item .nav__ancora:hover {
    color: var(--hover);
}

.container-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}

.container-principal .TituloIcones {
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.container-principal .titulo {
    color: var(--branco);
    font-family: var(--font-courier);
    font-size: 2.5em;
    font-weight: 100;
    line-height: 35px;
}

.container-principal .titulo span {
    font-size: 0.7em;
    color: var(--hover);
}

.TituloIcones .icones {
    text-align: center;
    color: var(--branco);
    font-size: 1.5em;
    cursor: pointer;
}

.icones i {
    color: var(--hover);
    margin-right: 20px;
    border-radius: 50%;
    border: 1px solid var(--branco);
    padding: 10px;
    transition: color .3s, border-color .3s;
}

.icones i:hover {
    color: var(--hover);
    border-color: var(--hover);
}

.container-principal__foto {
    border: 1px solid var(--hover);
    border-radius: 50%;
}

@media screen and (max-width: 1279px) {
    .container-principal .titulo {
        font-size: 2em;
    }
}

@media screen and (max-width: 1279px) and (min-width: 769px) {
    .container-principal__foto {
        width: 20%;
    }
}

@media screen and (max-width: 768px) and (min-width: 481px) {
    .header {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .container-principal .TituloIcones {
	    justify-content: space-evenly;
    }

    .container-principal__foto {
        width: 25%;
    }

    .TituloIcones .titulo {
        font-size: 2em;
    }

    .TituloIcones .icones {
        font-size: 1em;
    }

    .container-principal__foto {
        margin-right: 1rem;
    }
}

@media screen and (max-width: 480px) {
    .header {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .header .container-topo .abrir-menu {
        display: block;
        font-size: 1.5rem;
        color: var(--hover);
    }

    .container-topo .nav {
        width: 0;
        height: 100vh;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 2;
        background-color: var(--branco);
        transition: .9s;
        padding-top: 60px;
        overflow-x: hidden;
    }

    .nav .fechar-menu {
        display: block;
        color: var(--background-pagina);
        position: absolute;
        top: 10px;
        right: 25px;
        font-size: 1.5rem;
    }

    .nav .nav__lista {
        height: 50%;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .nav__lista .item {
        margin-bottom: 5px;
    }

    .nav__lista .item:nth-child(2), .nav__lista .item:nth-child(3) {
        border-right: none;
        border-left: none;
        padding: 0;
    }

    .nav__lista .item .botao {
        color: var(--preto);
    }

    .nav__lista .nav__ancora {
        color: var(--preto); 
        font-weight: 700;
    }

    .container-principal {
        position: relative;
        margin-top: 20px;
    }

    .container-principal .TituloIcones {
        height: 100%;
        margin-top: auto;
    }

    .TituloIcones .titulo {
        font-size: 1.8em;
        line-height: 30px;
    }

    .TituloIcones .icones {
        font-size: 1.3rem;
        display: flex;
        justify-content: center;
    }

    .icones i {
        margin-bottom: 10px;
    }

    .container-principal__foto {
        width: 60%;
        margin-right: 0;
    }    
}