@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

:root {
    --font-poppins: 'Poppins', sans-serif;
    --font-courier: 'Courier Prime', monospace;

    --background-principal: #0f100f;
    --cor-textos-cards: #ffffff;
    --background-botoes: #000000;
}

.habilidades {
    padding: 0 5em;
    margin: 100px 0;
}

.habilidades__titulo {
    color: var(--cor-textos-cards);
    font-family: var(--font-courier);
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 100px;
}

.container-cards {
    display: flex;
    justify-content: space-between;
}

.container-cards__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    width: 12em;
    height: 16em;
    background: white;
    border-radius: 10px;
    transition: transform .5s;
}

.container-cards__card:hover {
    box-shadow: 0 0 15px 5px #ff000094; 
    transform: scale(1.2);
 }

.container-cards__card .fa-brands {
    font-size: 4em;
    margin-bottom: 20px;
    color: var(--background-principal);
}

.card__paragrafo {
    font-family: var(--font-poppins);
    font-size: 0.7em;
}