@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

:root {
    --font-poppins: 'Poppins', sans-serif;
    --background-pagina: #0f100f;
}

.habilidades {
    padding: 0 5em;
    margin: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container-habilidades .html { grid-area: html;}
.container-habilidades .css { grid-area: css;}
.container-habilidades .js { grid-area: js;}
.container-habilidades .github { grid-area: github;}
.container-habilidades .git { grid-area: git; justify-content: center;}

.container-cards__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid var(--branco);
    transition: box-shadow, border-color 1s;
}

.container-cards__card:hover {
    box-shadow: 0 0 15px 5px #ff000094; 
    transform: scale(1.1);
 }

.habilidade__nome {
    font-family: var(--font-russo);
    font-size: .8em;
    text-transform: uppercase;
    color: var(--branco);
}

.habilidade .fa-brands {
    font-size: 4em;
    margin-bottom: 20px;
    color: var(--branco);
}

.habilidade .fa-html5 {
    color: #e44d26;
}

.habilidade .fa-css3-alt {
    color: #264de4;
}

.habilidade .fa-js {
    color: #f7df1e;
}

.habilidade .fa-git-alt {
    color: #f03c2e;
}

@media screen and (max-width: 767px) {
    .container-habilidades {
        grid-template-columns: repeat(2, 8rem);
        grid-template-rows: repeat(3, 7rem);
        grid-template-areas: 
        'html css'
        'js github'
        'git git';
    }

    .container-habilidades .git { 
        justify-content: flex-start;
    }
}

@media screen and (max-width: 480px) and (min-width: 375px) {
    .habilidades {
        padding: auto;
    }
}