@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

:root {
    --font-poppins: 'Poppins', sans-serif;
    --background-pagina: #0f100f;
}

.habilidades {
    padding: 0 5em;
    margin: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container-cards__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    margin: 0 30px 30px 0;
    width: 12em;
    height: 16em;
    background: white;
    border-radius: 10px;
    transition: box-shadow, border-color 1s;
}

.container-cards__card:hover {
    box-shadow: 0 0 15px 5px #ff000094; 
    transform: scale(1.1);
 }

.habilidade__nome {
    font-family: var(--font-russo);
    font-size: .8em;
    text-transform: uppercase;
    color: var(--branco);
}

.habilidade .fa-brands {
    font-size: 4em;
    margin-bottom: 20px;
    color: var(--branco);
}

.card__paragrafo {
    font-family: var(--font-poppins);
    font-size: 0.7em;
}

@media screen and (max-width: 480px) and (min-width: 375px) {
    .habilidades {
        padding: auto;
    }
}