.meus-projetos {
    padding: 2em 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projetos .projeto {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

.projeto__imagem {
    width: 50%;
    height: 18.8em;
}

.projeto__texto {
    height: 18.8em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.projeto__paragrafo {
    text-align: justify;
    width: 90%;
}

.meus-projetos__button {
    cursor: pointer;
}

@media screen and (max-width: 1279px) {
    .projetos .projeto {
        flex-direction: column;
    }
    
    .projetos .projeto:last-child {
        flex-direction: column-reverse;
    }
}

@media screen and (max-width: 1279px) and (min-width: 769px) {

}