:root {
    --font-poppins: 'Poppins', sans-serif;
    --font-courier: 'Courier Prime', monospace;

    --background-principal: #0f100f;
    --cor-textos-cards: #ffffff;
    --background-botoes: #000000;
    --efeitos: #f21905;
}

.meus-projetos {
    padding: 2em 5em;
    margin: 100px 0;
}