:root {
    --cor-principal: #0f100f;
    --detalhes: #AB0000;
}

.meus-projetos .projetos {
    width: 80%;
    height: 20rem;
}

.projetos .projeto {
    flex-direction: column;
}

.projeto img {
    width: 100%;
    height: 50%;
    border: 3px solid var(--detalhes);
    border-radius: 10px 10px 0 0;
}

.projeto .projeto__botoes {
    width: 100%;
    display: flex;
    border: 3px solid var(--detalhes);
    border-radius: 0 0 10px 10px;
    border-top: none;
    font-family: 'Poppins', sans-serif;
    font-size: .8rem;
}

.projeto__botoes .projeto__btn {
    width: 100%;
    color: white;
    padding: 5px 0;
    background-color: var(--detalhes);
    transition: .5s;
}

.projeto__botoes .projeto__btn:hover{
    background-color: var(--cor-principal);
    border-radius: 0 0 10px 10px;
}

.projeto__botoes .projeto__btn:first-child {
    border-right: 1px solid black;
}

@media screen and (min-width: 1440px) {
    .meus-projetos .projetos {
        height: 35rem;
    }
}

@media screen and (max-width: 1440px) and (min-width: 1248px) {
    .meus-projetos .projetos {
        height: 32rem;
    }
}

@media screen and (max-width: 1247px) and (min-width: 1150px) {
    .meus-projetos .projetos {
        height: 30rem;
    }
}

@media screen and (max-width: 1149px) and (min-width: 1000px) {
    .meus-projetos .projetos {
        height: 28rem;
    }
}

@media screen and (max-width: 767px) and (min-width: 650px) {
    .meus-projetos .projetos {
        width: 60%;
        height: 28rem;
    }
}

@media screen and (max-width: 649px) and (min-width: 481px) {
    .meus-projetos .projetos {
        width: 70%;
    }
}

@media screen and (max-width: 649px) and (min-width: 540px) {
    .meus-projetos .projetos {
        height: 28rem;
    }
}

@media screen and (max-width: 539px) and (min-width: 481px) {
    .meus-projetos .projetos {
        height: 25rem;
    }
}