.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #000000f0;
    animation: fadeIn 1s ease;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100%{opacity: 1;}
}

.modal__topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 100px;
}

.modal__topo .secao__titulo {
    margin: 0;
}

.modal__topo .botao {
    cursor: pointer;
    margin: 0;
    background-color: var(--branco);
    color: var(--hover);
}

.modal .botoes {
    display: flex;
    justify-content: space-between;
    width: 70%;
}

@media screen and (max-width: 1279px) {
    .modal .projetos .projeto:last-child {
        flex-direction: column;
        margin-bottom: 30px;
    }

    .modal .botoes {
        justify-content: space-evenly;
    }
}

@media screen and (max-width: 480px) {
    .modal .secao__titulo {
        font-size: 1.3em;
        font-weight: bolder;
    }

    .modal .botao {
        font-size: .8rem;
        margin-right: 10px;
    }

    .modal .projeto .botoes {
        width: auto;
    }

    .modal .seta {
        margin-bottom: 20px;
    }
}