.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #000000f0;
    animation: fadeIn 1s ease;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100%{opacity: 1;}
}

.modal__topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 100px;
}

.modal__topo .secao__titulo {
    margin: 0;
}

.modal__topo .botao {
    cursor: pointer;
    margin: 0;
}

.modal .botoes {
    display: flex;
    justify-content: space-between;
    width: 70%;
}