:root {
    --font-poppins: 'Poppins', sans-serif;
    --font-courier: 'Courier Prime', monospace;

    --background-principal: #0f100f;
    --cor-textos-cards: #ffffff;
    --background-botoes: #000000;
    --efeitos: #f21905;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #000000f0;
}

.modal__topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 50px;
}

.titulo-secao {
    font-family: var(--font-courier);
    font-size: 2.5em;
    color: var(--cor-textos-cards);
}

.modal .botao {
    background-color: var(--cor-textos-cards);
    color: var(--background-botoes);
    font-family: var(--font-courier);
    font-weight: 600;
    font-size: .8em;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: .5s;
}

.modal .botao:hover {
    background-color: var(--efeitos);
    color: var(--cor-textos-cards);
}