:root {
    --font-poppins: 'Poppins', sans-serif;
    --font-courier: 'Courier Prime', monospace;
    --font-russo: 'Russo One', sans-serif;

    --cor-principal: #0f100f;
    --cor-secundaria: #ffffff;
    --preto: #000000;
    --detalhes: #AB0000;
}

.secao__titulo {
    font: 2.5em var(--font-courier);
    text-align: center;
    margin-bottom: 50px;
}

.secao__titulo {
    color: var(--detalhes);
}

.icones {
    display: flex;
    justify-content: center;
    color: var(--cor-secundaria);
    font-size: 1.5em;
    cursor: pointer;
    gap: 20px;
}

.projeto__titulo,
.paragrafos {
    font-family: var(--font-poppins);
    color: var(--cor-secundaria);
}

.botao {
    background-color: var(--detalhes);
    color: var(--cor-secundaria);
    font-family: var(--font-courier);
    font-weight: 600;
    padding: 10px 20px;
    margin-top: 30px;
    border: none;
    border-radius: 15px;
    transition: .5s ease-in;
}

.botao:hover {
    background-color: var(--cor-secundaria);
    color: var(--detalhes);
}

.seta {
    display: flex;
    justify-content: center;
    font-size: 2.5em;
    color: var(--detalhes);
    transition: .5s;
    margin-bottom: 20px;
}

.seta:hover {
    color: var(--cor-secundaria);
}