.sobre-mim {
    margin-top: 100px;
}

.sobre-mim__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.container__img {
    width: 10rem;
    margin-bottom: 20px;
    border-radius: 44%;
}

.container__ParagrafoButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.container__paragrafo {
    text-align: justify;
    font-family: var(--font-poppins);
}

@media screen and (max-width: 1279px) {
    
}