:root {
    --font-poppins: 'Poppins', sans-serif;
    --font-courier: 'Courier Prime', monospace;

    --background-principal: #0f100f;
    --cor-textos-cards: #ffffff;
    --background-botoes: #000000;
}

.sobre-mim__titulo {
    text-align: center;
}

.sobre-mim__titulo, .container__paragrafo {
    color: var(--cor-textos-cards);
}

.sobre-mim__container {
    display: flex;
    align-items: center;
}

.container__img {
    width: 15%;
}