:root {
    --detalhes: #AB0000;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper .swiper-button-next, 
.swiper .swiper-button-prev {
    color: var(--detalhes);
}

.swiper .swiper-pagination-bullet-active,
.swiper .swiper-pagination-bullet {
    background: var(--detalhes);
}

.swiper-wrapper .swiper-slide {
    display: flex;
}

@media screen and (min-width: 580px) {
    .swiper .swiper-horizontal>.swiper-pagination-bullets, 
    .swiper .swiper-pagination-bullets.swiper-pagination-horizontal, 
    .swiper .swiper-pagination-custom, .swiper-pagination-fraction {
        bottom: 10%;
    }
}

@media screen and (max-width: 579px) {
    .swiper .swiper-horizontal>.swiper-pagination-bullets, 
    .swiper .swiper-pagination-bullets.swiper-pagination-horizontal, 
    .swiper .swiper-pagination-custom, .swiper-pagination-fraction {
        bottom: 30px;
    }
}